<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		internalLogToConsole="true">
	<extensions>
		
	</extensions>
	<variable name="logLayout" value="${longdate}【${logger}】【${uppercase:${level}}】：${message} ${onexception:Exception：${exception:format=toString}}" />
	<targets>
		<!--Console-->
		<target xsi:type="Console" name="logToConsole" layout="${logLayout}" />
		<!--File-->
		<target xsi:type="File" name="logToFile"
				filename="${basedir}/Logs/${shortdate}/${level}/${shortdate}.txt"
				layout="${logLayout}"
				archiveFileName="${basedir}/archives/${logger}-${level}-${shortdate}-{#####}.txt"
				archiveAboveSize="102400"
				archiveNumbering="Sequence"
				concurrentWrites="true"
				keepFileOpen="false" />
	</targets>
	<rules>
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="logToConsole" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="logToFile" />
	</rules>
</nlog>