<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		internalLogToConsole="false"	>
	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>
	<variable name="logLayout" value="${longdate}【${logger}】【${uppercase:${level}}】：${message} ${onexception:Exception：${exception:format=toString}}" />
	<targets>
		<!--ElasticSearch-->
		<target name="elastic" xsi:type="ElasticSearch"
				uri="http://zszshmily.kmdns.net:9200"
				index="Xqd.Platform-${environment:variable=ASPNETCORE_ENVIRONMENT}-${level}"
				documentType="_doc"
				includeAllProperties="true">
			<field name="MachineName" layout="${machinename}" />
			<field name="Time" layout="${longdate}" />
			<field name="level" layout="${level:uppercase=true}" />
			<field name="logger" layout=" ${logger}" />
			<field name="message" layout=" ${message}" />
			<field name="exception" layout=" ${exception:format=toString}" />
			<field name="processid" layout=" ${processid}" />
			<field name="threadname" layout=" ${threadname}" />
			<field name="stacktrace" layout=" ${stacktrace}" />
		</target>
		<!--Console-->
		<target xsi:type="Console" name="logToConsole" layout="${logLayout}" />
	</targets>
	<rules>
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="logToConsole" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="elastic" />
	</rules>
</nlog>